.page
  .form_box
    .title
      住所
    .input
      東京都豊島区東池袋２−６−１−７０３
    .button
      変更する
    .additional_data
      ※変更する場合は有効な公的証明書のデータを添付してください。
    .button
      添付

  .form_box
    .title
      顔写真
    .input
      撮影から6ヶ月以内のデータを添付してください。
    .button
      添付
  
  .submit
    登録する
      