.label 支払い金額：3,000円　※支払い後のキャンセルは出来ません
= form_with url: purchase_user_path do
  :plain
    <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_13692b326405fc0a5aedc17a"></