= render 'header'

.address
  .label 現住所
  = @address.address
  .label 変更がない場合は「次へ」、ある場合は「変更する」をクリックしてください
  .button 
    = link_to new_image_path do
      次へ
  .button
    = link_to edit_address_path do
      変更する