.main {
  width: 100vw;
  height: 100vh;
  a {
    text-decoration: none;
  }
  .form_box {
    width: 100vw;
    height: 200px;
    padding: 30px;
    border-top: solid 1px #627295; 
    .title {
      padding: 10px 0 10px;
      font-weight: bold;
    }
    .button {
      display: inline-block;
      padding: 0.5em 1em;
      background:yellow;
      color: white;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
    }
    .submit {
      display: inline-block;
      padding: 0.5em 1em;
      background: red;
      color: white;
      border-bottom: solid 4px #627295;
      border-radius: 3px;
    }
  }

  }